Client/Service References/CompanyServiceReference/CompanyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56417/CompanyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56417/CompanyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56417/CompanyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompanyTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyTypes" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompanyTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompanies" message="tns:ICompanyService_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompaniesResponse" message="tns:ICompanyService_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompany" message="tns:ICompanyService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyResponse" message="tns:ICompanyService_GetCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateCompany" message="tns:ICompanyService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateCompanyResponse" message="tns:ICompanyService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompanyTypes" message="tns:ICompanyService_GetAllCompanyTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompanyTypesResponse" message="tns:ICompanyService_GetAllCompanyTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyService" type="tns:ICompanyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/CreateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyTypes">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetAllCompanyTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyService" binding="tns:BasicHttpBinding_ICompanyService">
      <soap:address location="http://localhost:56417/CompanyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>